body, html{
    height: 100%;
}

.login-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);
}

.login-card {
    box-shadow: 2px 1px 35px 6px rgba(0, 0, 0, 0.6);

}
.full-height {
    height: 100vh;
}
