<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Editer votre profil</title>
</head>
<body>
<div th:replace="~{components/header :: header}"  th:with="productsQuantity=${productsQuantity}"></div>
<main>
    <div class="container d-flex justify-content-center align-items-center flex-column mt-4 mb-4">
        <div class="row mt-4 mb-3">
            <h2>Changer les informations de votre profile</h2>
        </div>
        <div class=" card row w-50">
            <div class="mt-3">
                <p>Si vous voulez changer des informations associées à votre compte client, vous pouvez le faire
                    ci-dessous. <br> N'oubliez pas de cliquer sur le bouton Enregistrer les modifications quand vous
                    avez
                    terminé.
                </p>
            </div>
            <div class="card-body">
                <form action="#" th:action="@{/edit-profile}" th:object="${user}" method="post">
                    <div class="row">
                        <input type="hidden" th:field="*{idUser}" name="id_user"/>
                        <div class="mb-3 col-12">
                            <label for="username" class="form-label fw-bold">Username</label>
                            <input type="text" class="form-control" id="username" name="username" th:field="*{username}"
                                   required pattern="^[A-Za-z\s-]+$">
                            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></span>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="fullname" class="form-label fw-bold">Nom</label>
                            <input type="text" class="form-control" id="fullname" name="full_name"
                                   th:field="*{fullName}"
                                   required pattern="^[A-Za-z\s-]+$">
                            <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="error-message"></span>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="address" class="form-label fw-bold">Adresse</label>
                            <input type="text" class="form-control" id="address" name="address" th:field="*{address}"
                                   required pattern="^[A-Za-z0-9\s-]+$">
                            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error-message"></span>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="phoneNumber" class="form-label fw-bold">Téléphone</label>
                            <input type="text" class="form-control" id="phoneNumber" name="phone_number"
                                   th:field="*{phoneNumber}"
                                   required pattern="[0-9]{10}" minlength="10" maxlength="10">
                            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error-message"></span>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="email" class="form-label fw-bold">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   th:field="*{email}"
                                   th:value="${user.email}"
                                   required>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></span>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   th:field="*{password}"
                                   th:value="${user.password}" required>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span>
                        </div>
                    </div>
                    <div class=" row d-flex justify-content-around mt-4">
                        <div class="mb-3 col-6 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-lg">Enregister</button>
                        </div>
                        <div class="mb-3 col-6 d-flex justify-content-center">
                            <a class=" btn btn-danger btn-lg " role="button" href="profile">Annuler</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{components/footer :: footer}"></div>
</body>
</html>