<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/products.css">
</head>
<div th:replace="~{components/header :: header}"  th:with="productsQuantity=${productsQuantity}"></div>
<main>
    <div class="container container-fluid mt-5">
        <div class="row mt-4 mb-3">
            <h2 class="ms-5">Liste des produits</h2>
        </div>
        <div th:if="${#lists.isEmpty(products)}" class="text-center">
            <p>Aucun produit trouvé.</p>
        </div>
        <div class="flex justify-content-around flex-wrap row mt-4 " th:if="${not #lists.isEmpty(products)}">
            <div class="card p-2 mb-5 me-2 ms-2  col-md-6 col-lg-4 col-xl-3 shadow-sm"
                 th:each="product : ${products} ">
                <div class="col-12 mb-1  d-flex flex-column">
                    <!-- <img th:src="${product.photoProduct}" alt="Product Photo" width="100" height="100">-->
                    <img class="card-img-top" th:src="@{'~/images/' + ${product.photoProduct}}"
                         th:alt="${product.nameProduct}"
                         width="100%">
                </div>
                <div class=" col-12 pt-0 pb-0 card-body d-flex flex-column">
                    <h6 class="card-title" th:text="${product.nameProduct} + '-' + ${product.category.nameCategory} "></h6>
                    <p class="card-title" th:text="${product.descriptionProduct}"></p>
                    <p class="card-text" th:text="${product.priceProduct}+ '€'"></p>
                    <a th:href="@{/products/{productId}(productId=${product.idProduct})}"
                       class=" stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{components/footer :: footer}"></div>
</body>
</html>