<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  class="d-flex justify-content-between align-items-center flex-wrap">
    <div class="card col-3 mt-2 mb-2 me-2 pe-2 ps-2 pt-2 pb-2" th:each="order : ${orders}">
        <p>Nom: <span th:text="${order.clientName}"></span></p>
        <p>Email: <span th:text="${order.clientEmail}"></span></p>
        <p>Téléphone: <span th:text="${order.clientPhone}"></span></p>
        <p>Adresse de Livraison: <span th:text="${order.shippingAddressLine1}"></span></p>
        <p>Autre adresse: <span th:text="${order.shippingAddressLine2}"></span></p>
        <p>Ville: <span th:text="${order.shippingCity}"></span></p>
        <p>Code postale: <span th:text="${order.shippingPostalCode}"></span></p>
        <p>Pays: <span th:text="${order.shippingState}"></span></p>
        <p>Numéro de commande: <span th:text="${order.idOrder}"></span></p>
        <p>Montant total: <span th:text="${order.totalAmount}"></span></p>
        <p>Numéro de payement: <span th:text="${order.payment.idPayment}"></span></p>
        <p>Date du payement: <span th:text="${order.payment.datePayment}"></span></p>
    </div>
</div>
</body>
</html>