<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <title>Message envoyé</title>
</head>
<body>

<main>
    <div class="container d-flex justify-content-center align-items-center flex-column mt-4 mb-4">
        <div>
            <h2>
                Merci, votre message a bien été envoyé
            </h2>
            <p>Nous vous apporterons une réponse dans les plus bref délais</p>
        </div>
        <div>
            <a class="btn btn-default" href="account" role="button">Retour</a>
        </div>
    </div>
</main>
</body>
</html>